.todo-app{
    background: #fff;
	margin-bottom: 2%;
	width:50%;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);

}

.todo-app ul>li{
    list-style:none;
}